.tooltip-container [data-tooltip] {
  position: relative;
  cursor: pointer;
}
[class*="tooltip-wrapper"] {
  text-align: center;
}
.tooltip-content {
  position: absolute;
  display: inline-block;
  white-space: pre-wrap;
  transition: 0.4s;
  z-index: 9999;
  max-width: 500px;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25em;
  font-size: 1em;
  color: white;
  text-transform: none;
  font-weight: normal;
  opacity: 0;
  visibility: hidden;
}
[data-tooltip]:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
}
[class*="tooltip-wrapper"][class*="-top"] .tooltip-content {
  top: -1em;
  -webkit-transform: translateX(-50%) translateY(-100%);
      -ms-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
}
[class*="tooltip-wrapper"][class*="-top"] .tooltip-content:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  top: 100%;
  left: 50%;
  border-left: solid 0.5em transparent;
  border-right: solid 0.5em transparent;
  border-top: solid 0.5em rgba(0, 0, 0, 0.75);
}
[class*="tooltip-wrapper"][class*="-bottom"] .tooltip-content {
  bottom: -1em;
  -webkit-transform: translateX(-50%) translateY(100%);
      -ms-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}
[class*="tooltip-wrapper"][class*="-bottom"] .tooltip-content:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  bottom: 100%;
  left: 50%;
  border-left: solid 0.5em transparent;
  border-right: solid 0.5em transparent;
  border-bottom: solid 0.5em rgba(0, 0, 0, 0.75);
}
[class*="tooltip-wrapper"][class*="-left"] .tooltip-content {
  left: -1em;
  top: 50%;
  -webkit-transform: translateX(-100%) translateY(-50%);
      -ms-transform: translateX(-100%) translateY(-50%);
          transform: translateX(-100%) translateY(-50%);
}
[class*="tooltip-wrapper"][class*="-left"] .tooltip-content:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  top: 50%;
  right: -0.5em;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: solid 0.5em transparent;
  border-bottom: solid 0.5em transparent;
  border-left: solid 0.5em rgba(0, 0, 0, 0.75);
}
[class*="tooltip-wrapper"][class*="-right"] .tooltip-content {
  right: -1em;
  top: 50%;
  -webkit-transform: translateX(100%) translateY(-50%);
      -ms-transform: translateX(100%) translateY(-50%);
          transform: translateX(100%) translateY(-50%);
}
[class*="tooltip-wrapper"][class*="-right"] .tooltip-content:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: solid 0.5em transparent;
  border-bottom: solid 0.5em transparent;
  border-right: solid 0.5em rgba(0, 0, 0, 0.75);
}
[class*="tooltip-wrapper"][class*="-light"] .tooltip-content {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: #444 !important;
}
.tooltip-wrapper-top-light .tooltip-content:after {
  border-top-color: rgba(255, 255, 255, 0.8) !important;
}
.tooltip-wrapper-bottom-light .tooltip-content:after {
  border-bottom-color: rgba(255, 255, 255, 0.8) !important;
}
.tooltip-wrapper-left-light .tooltip-content:after {
  border-left-color: rgba(255, 255, 255, 0.8) !important;
}
.tooltip-wrapper-right-light .tooltip-content:after {
  border-right-color: rgba(255, 255, 255, 0.8) !important;
}
[class*="tooltip-wrapper"][class*="-brand"] .tooltip-content {
  transition: 0s !important;
  background-color: #34DDDD !important;
  border-radius: 1em !important;
  text-transform: uppercase !important;
  bottom: -3em;
}
.tooltip-wrapper-top-brand .tooltip-content:after {
  border-top-color: #34DDDD !important;
  border-width: 1em !important;
  margin-left: -1em !important;
}
.tooltip-wrapper-bottom-brand .tooltip-content:after {
  border-bottom-color: #34DDDD !important;
  border-width: 1em !important;
  margin-left: -1em !important;
}
.tooltip-wrapper-left-brand .tooltip-content:after {
  border-left-color: #34DDDD !important;
  border-width: 1em !important;
  margin-left: -1em !important;
}
.tooltip-wrapper-right-brand .tooltip-content:after {
  border-right-color: #34DDDD !important;
  border-width: 1em !important;
  margin-left: -1em !important;
}
